html, body { 
    height: 100%; 
    background-image: url(../images/abstract-ancient-antique-235985.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Eagle Lake', cursive; }

p { 
    font-size: 1.1em; 
    font-family: 'Raleway', sans-serif;
    color: #000;
}

footer { position: sticky; top: 100%; }

.bg-filter {
    background: #ffffff66; 
}

.chat-log { 
    height: 300px;
    overflow-y: scroll;
}

